@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

.Tag {
  font-family: 'La Belle Aurore', cursive;
  font-size: 20px;
  display: block;
  opacity: 0.5;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
