.Menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	//display: flex;
	//align-items: center;
	//justify-content: center;
	//opacity: 1;
	//pointer-events: none;

	&.active {
		pointer-events: auto;
	}

	&.active &__wrap {
		opacity: 1;
		pointer-events: auto;
	}


	&__header {
		position: fixed;
		width: 100%;
		top: 50px;
		height: 0;
		left: 0;
		display: flex;
		justify-content: flex-end;
		padding: 0 15px;
		z-index: 21;
	}

	&__header-container {
		display: flex;
		justify-content: flex-end;
		min-height: auto;
	}


	&__wrap {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: #111111;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow-y: auto;
		opacity: 0;
		pointer-events: none;
		transition: all 0.2s ease-in;
	}


	&__nav {
		margin: 20px 0 25px;
	}


	&__close {
		display: inline-flex;
		position: absolute;
		right: -50px;
		top: -40px;
		z-index: 5;
		cursor: pointer;
	}



	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&__list-item {
		margin-bottom: 15px;
		text-align: center;
		a {
			color: #6ABEB9;
			font-size: 22px;
			line-height: 26px;
			font-weight: 300;
			position: relative;
			display: inline-block;
			text-decoration: none;
			transition: all 0.2s;
			&:hover {
				color: #fff;
			}
			&.active {
				color: #fff;
				&:before {
					opacity: 1;
				}
			}
			&:before {
				position: absolute;
				width: 1px;
				height: 18px;
				content: '';
				background-color: #fff;
				transform: rotate(30deg) translateY(-60%);
				left: -18px;
				top: 50%;
				transition: all 0.2s;
				opacity: 0;
			}
		}
	}

}






.Tag__nav {
  text-align: center;
}
